<h1>Create a new User</h1>

<div class="form">
  <%= form_with url: company_users_path(@company), method: :post, local: true do |form| %>
    <%= form.label "First Name" %>
    <%= form.text_field :first_name %>
    <%= form.label "Last Name" %>
    <%= form.text_field :last_name %>
    <%= form.label "Email" %>
    <%= form.text_field :email %>
    <%= form.label "Password" %>
    <%= form.text_field :password %>
    <%= form.submit "Add User" %>
  <% end %>
</div>
